/* CSS Document */
body {
margin-top: 5px;
}

table {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; 
	font-size: 11px;
}

.grayborder td p{
font-size: 11px;
color: #222;
line-height: 15px;
}


.bluheading { 
	font-size: 12px; 
	line-height: 15px; 
	color: #003399;
} 

h3 {
font-size: 12px;
line-height: 15px;
color: #003399;
} 

td.navbar { 
	font-size: 12px; 
	line-height: 15px;
	vertical-align:middle;
	background-color: #cccccc;
	height: 25px;
    letter-spacing: 1px;
	text-align: center;
}
  
.menu {  
	background-color: #ffffff; 
	color: #111111; 
	font-size: 11px; 
	line-height: 15px;  
	border: 1px solid #999999;
}

.button { 
	font-size: 11px; 
	line-height: 15px; 
	font-weight: bold ; 
}

.grayborder { 
	border: 1px solid #999999;
	font-size: 10px; 
	color: #222222;
	padding: 10px;
}


.searchbox { 
	border: 1px solid #999999;
	font-size: 10px; 
	color: #222222;
}

.small {
font-size: 10px;
}

table.small td {
font-size: 10px;
}

ul.small li {
font-size: 10px;
}
a.standard {
font-size: 10px;
}
/* links ----------------------------------------------------------------------- */

A:link {
    color: #072e99;
    text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #072e99;
}
a:active {
color: #0000ff;
}

a:hover {
color: #666666;
}

a img {
	border: none; 
	background: white; 
	text-decoration: none; 
}

a img:hover {
	background: white; 
	text-decoration: none;
}

input[type=submit] { border: 1px solid #072e99; background-color: #cccccc; color: #072e99; cell-padding: 1px;}

/* Hab.la chat styles */
 #habla_topbar_div {
font-family: Lucida grande, Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
 }
 
#habla_window_div em{
color: #990000;
}